.overview {
  font-family: sans-serif;
}

.styles-selecter {
  overflow: auto;
}

.style-item {
  text-align: center;
  overflow: auto;
  display: inline-block;
  border: 2px solid lightslategray;
  width: 100px;
}
