.overview {
  font-family: sans-serif;
}

.styles-selecter {
  overflow: auto;
}

.style-item {
  text-align: center;
  overflow: auto;
  display: inline-block;
  /* border: 1px solid lightslategray; */
  width: 80px;
  margin-right: 4px;
}



.overview-right {
  z-index: 1;
}

.overview-left {
  z-index: 3;
} 

.overview-container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 10px;

  padding: 10px;
}

.container .overview-left {
  text-align: left;
  padding: 10px 0;

}

.container .overview-right {

  text-align: center;
  padding: 20px 0;

}


