
#questions-and-answers {
  /* padding-left: 15%; */
  /* padding-right: 15%; */
  border-width: 2px;
  border-color: black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.question-buttons {
  display: flex;
}

.add-a-question,
.load-more-questions {
  border-radius: 0%;
  border-color: black;
  background-color: white;
  margin-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.question {
  font-weight: bold;
  font-size: 12pt;
  float: left;
  width: 60%;
  overflow-y: auto;
  flex-grow: 1;
}

.question-helpful,
.add-answer,
.answer-helpful,
.answer-report,
.answer-by {
  font-size: 8pt;
}

.input-search {
  max-width: 100%;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-color: black;
  border-radius: 0%;
  background-color: white;
  line-height: 3em;
  padding-left: 5px;
}

.question-helpful-add-answer {
  width: 40%;
  max-width: 40%;
  text-align: right;
  float: right;
}

.question-helpful {
  float: right;
  margin-right: 2%;
}

.answer {
  float: left;
  max-width: 75%;
  width: 75%;
}

.answerer-helpful-report {
  display: inline-block;
  width: 75%;
  max-width: 75%;
}

.answer-by,
.answer-helpful,
.answer-report {
  float: left;
  /* display: inline-block */
  padding-right: 2%;
}

.see-more-answers,
.collapse-answers {
  /* float: left; */
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.add-answer {
  float: right;
}

.question-question-helpful-add-answer {
  display: flex;
  align-items: center;
}

.answer-image {
  /* float: left; */
  display: inline-block;
}